:root {
    --corPrimary: #FFF;
    --corSecondary: #FFF;
    --corTertiary: #FFF;
    --corAsjunct: #FFF;
    --corBackground: #0d2b38;
    --corBranco: #FFF;
    --corPreto: #000;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--corBackground);
    font-family: Montserrat;
}

h1 {
    font-family: Orbitron;
    color: var(--corBranco);
    letter-spacing: 0.25ch;
}